<div class="container">

  <h1>Hello <%= @profile.first_name %> </h1>

  <div class="mt-4">
    <div>
      <%= render "form", profile: @profile %>
    </div>
  </div>

  <div class="mt-4">
    <% @bookings.each do |booking| %>
      <div>
        <p><%= link_to "Delete booking", bear_booking_path(booking.bear, booking),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      </div>
    <% end %>
  </div>

</div>
