.page {
  min-height: 87vh;
}

.fav-container {
  margin: 4em auto;
}

.underline {
  width: 100%;
  border-bottom: 1px solid #F7A072;
}

.bear-thumbnail {
  border-radius: 8px;
  backdrop-filter: sepia(90%);
}

.thumbnail {
  position: absolute;
}
