.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px 0;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  font-size: 24px;
  margin-top: 10px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container form {
  display: inline-flex;
  position: relative;
  left: 20px;
}

.form-container input {
  padding: 12px 20px 12px 20px !important;
}

.form-container .button {
  margin-left: 10px !important;
}

.form-container small {
  position: relative;
  top: 55px;
  left: -305px;
}

.form-container small a {
  color: #fff;
  opacity: 0.8;
}

.form-container small a:hover {
  opacity: 1;
}
