.button {
  padding: 12px 20px 12px 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.primary-button {
  background-color: #F7A072;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.primary-button:hover {
  background-color: #FD7547;
  color: white;
  transition: 0.3s;
}

.secondary-button {
  background-color: #74C4C4;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.secondary-button:hover {
  background-color: #579393;
  color: white;
  transition: 0.3s;
}

.card-button {
  border: 2px solid #282635;
  color: #282635;
  font-weight: lighter;
}

.card-button:hover {
  border: 2px solid #413e5b;
  color: #413e5b;
}

.price-button {
  padding: 15px 20px 15px 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: solid 1px darkgrey;
  border-radius: 30px;
  width: 100px;
  // border-radius: 30px;
  // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
