.card {
  border-radius: 8px;
  border: 1px solid #f9f6e9;
}

.card-img-top {
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-bear {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-bear > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.card-booking {
  overflow: hidden;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
}

.card-booking > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-booking .card-booking-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  font-weight: lighter;
}

.card-booking-infos .card-booking-delete {
  position: absolute;
  right: 5px;
  top: -185px;
  width: 40px;
}

.show-details-card {
  padding: 50px;
  border-radius: 8px;
  background-color: #fff;
}

#trash-can {
  border: solid 7px;
  border-color: #F7A072;
  border-radius: 50%;
  background-color: #F7A072;
  color:rgb(255, 255, 255);
  font-size: 20px;
}

#trash-can:hover {
  color:white;
  border-color: #df9167;
  background-color: #df9167;
  transition: 0.3s;
}
