.form-control-new {
  border-radius: 100px;
  margin-bottom: 25px;
  width: 100%;
}

.form-control-login {
  border-radius: 100px;
  margin-bottom: 25px;
  width: 350px;
  margin: 0 auto;
}


.form-control {
  border-radius: 100px;
  margin-bottom: 25px;
}

.form-height {
  height: 255px;
}

.padding-top {
  padding-top: 8rem;
}
