.nav {
  color: #F7A072 ;
  border-color: #F7A072;
}

.nav-link {
  color: #f7a072;
  font-weight: bold;
  font-family: 'Maven Pro', sans-serif;
}

.nav-link active {
  color: #0E0000;
  background-color: #F7A072 !important;
}

.nav-link:hover {
  color: #0E0000;
}

.profile-cards-font {
  font-family: 'Maven Pro', sans-serif;
}

.nav-tabs {
  justify-content: center;
}
