<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpg' %>)">
  <div class="container text-center">
    <h1>The sweet kick you needed</h1>
    <p>Book your personal gummy <strong>Boss Bear</strong></p>
    <a class="btn btn-dark" href="#">Find the perfect bear</a>
  </div>
</div>
