<div class="footer">
  <div class="footer-copyright">
    This app was coded by Dan, Missato and Marie and is <a href="https://github.com/rubensy/boss_bear" target="_blank" class="footer-link">open-source <i class="fab fa-github"></i></a>
  </div>
</div>
